
/*  Applies formatting to entire page as a whole */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/*  Applies background color to body portion*/
body {
    background-color: #d9dcd6;
}

/*  sets the header area padding, which is the area arround the content, 
    sets font, background color and text color */
    
.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

/*  Formats the text in the header area*/
.header h1 {
    display: inline-block;
    font-size: 48px;
    
}

/*  sets portion of header to different color*/
.header h1 .seo {
    color: #d9dcd6;
}

/*  Controls list of items in header area*/
.header-list {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    white-space: nowrap;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    list-style-type: none;
}

/*  ALighns individual list items*/
.header div ul li {
    display: inline-block;
    margin-left: 25px;
} 

/*  Sets links color and removes underlining*/
a {
    color: #ffffff;
    text-decoration: none;
} 

/*  sets main img properties*/
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

/*  Setsall paragraphs text font size*/
p {
    font-size: 16px;
}

/*  float properties which are applied to images*/
.float-left {
    float: left;
    margin-right: 25px;
    max-height: 200px;
}
.float-right {
    float: right;
    margin-left: 25px;
    max-height: 200px;
}

/*  formats main content text area*/
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/*  sets aside benifits prperties to alighn correctly*/
.benefits {
    margin-right: 20px;
    padding: 0px 20px 20px 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
    margin-bottom: 32px;
    color: #ffffff;
}

/*  aligns header 3 text*/
h3 {
    margin-bottom: 10px;
    margin-top: 50px;
    text-align: center;
}

/* sets benefits aside portion images to set width and margins */
.benefits img {
    display:block;
    margin: 10px auto;
    max-width: 150px;
}

/* formats main contents three different rows */
.search-engine-optimization {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}
.online-reputation-management {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}
.social-media-marketing {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/* formats headers in main content area */
.content h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/* Sets footer row properties */
footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

/* sets footer header text size */
footer h2 {
    font-size: 20px;
}
